[submodule "ext_sdk/cpp"]
	path = ext_sdk/cpp
	url = git@github.com:AsteriskZuo/ext_sdk_cpp.git
	branch = master
[submodule "ios/cpp_mirror"]
	path = ios/cpp_mirror
	url = git@github.com:AsteriskZuo/ext_sdk_cpp.git
	branch = master
