[submodule "ios/cpp"]
	path = ios/cpp
	url = git@github.com:AsteriskZuo/ext_sdk_cpp.git
	branch = master
[submodule "ios/objc"]
	path = ios/objc
	url = git@github.com:AsteriskZuo/ext_sdk_objc.git
	branch = master
[submodule "ext_sdk/java"]
	path = ext_sdk/java
	url = git@github.com:AsteriskZuo/ext_sdk_java.git
	branch = master
